* {
    user-select: none;
}

body {
    background: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#start {
    display: block;

    background-color: white;
    color: black;
    
    position: absolute;
    cursor: pointer;
    
    top: 50%;
    left: 15%;

    padding: 20px;
    font-size: 50px;
}

#attack {
    display: none;
    background-color: white;
    color: black;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 70%;
    left: 35%;
    cursor: pointer;
}

#player {
    display: none;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 35%;
    left: 30%;
    transition: 0.1s;

}

#enemy {
    display: none;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 35%;
    left: 60%;
}

#playerHP {
    display: none;
    background-color: white;
    color: black;
    position: absolute;
    padding: 10px;
    top: 25%;
    left: 30%;
    font-size: 32px;

}

#enemyHP {
    display: none;
    background-color: white;
    color: black;
    padding: 10px;
    position: absolute;
    top: 25%;
    font-size: 32px;
    left: 60%;
}

#count {
    display: none;
    background-color: purple;
    color: white;
    padding: 24px;
    position: absolute;
    top: 10%;
    left: 60%;

}

#dmgUp {
    display: none;
    position: absolute;
    left: 60%;
    top: 20%;
    padding: 25px;
}

#hpUp {
    display: none;
    position: absolute;
    left: 60%;
    top: 28%;
    padding: 25px;
}

#moneyUp {
    display: none;
    position: absolute;
    left: 60%;
    top: 36%;
    padding: 25px;
}



#dallas_house {
    display: none;
    position: absolute;
    top: 200px;
    left: 500px;
    padding: 30px;
}

#dallas_shop {
    display: none;
    position: absolute;
    top: 500px;
    left: 300px;
    padding: 30px;
}




#fight_button {
    display: none;
    float: right;
    max-width: 200px;
    cursor: pointer;
    font-size: 30px;

    background-color: white;
    color: black;
    padding: 20px;
}

#shop_button {
    float: left;
    display: none;
    max-width: 200px;
    cursor: pointer;
    font-size: 30px;

    background-color: white;
    color: black;
    padding: 20px;
}

#back_shop {
    float: left;
    display: none;
    max-width: 200px;
    cursor: pointer;
    font-size: 30px;

    background-color: white;
    color: black;
    padding: 20px;
}

#back_fight {
    float: left;
    display: none;
    max-width: 200px;
    cursor: pointer;
    font-size: 30px;

    background-color: white;
    color: black;
    padding: 20px;
}