* {
    user-select: none;
}

body {
    background: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#start {
    display: block;

    background-color: white;
    color: black;
    
    position: absolute;
    
    top: 50%;
    left: 15%;

    padding: 20px;
    font-size: 50px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#attack {
    display: none;
    background-color: white;
    color: black;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 70%;
    left: 35%;
    cursor: pointer;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#player {
    display: none;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 35%;
    left: 30%;
    transition: 0.1s;

}

#enemy {
    display: none;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 35%;
    left: 60%;
}

#playerHP {
    display: none;
    background-color: white;
    color: black;
    position: absolute;
    padding: 10px;
    top: 25%;
    left: 30%;
    font-size: 32px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;

}

#enemyHP {
    display: none;
    background-color: white;
    color: black;
    padding: 10px;
    position: absolute;
    top: 25%;
    font-size: 32px;
    left: 60%;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#count {
    display: none;
    background-color: white;
    padding: 24px;
    position: absolute;
    top: 10%;
    left: 60%;

    font-weight: bold;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;

}

#dmgUp {
    display: none;
    position: absolute;
    left: 60%;
    top: 20%;
    padding: 25px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#hpUp {
    display: none;
    position: absolute;
    left: 60%;
    top: 28%;
    padding: 25px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#moneyUp {
    display: none;
    position: absolute;
    left: 60%;
    top: 36%;
    padding: 25px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}



#dallas_house {
    display: none;
    position: absolute;
    top: 500px;
    left: 850px;
    
}

#dallas_shop {
    display: none;
    position: absolute;
    top: 500px;
    left: 300px;
    padding: 30px;
}




#fight_button {
    display: none;
    float: right;
    max-width: 200px;
    cursor: pointer;
    font-size: 30px;

    background-color: white;
    color: black;
    padding: 20px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#shop_button {
    float: left;
    display: none;
    max-width: 200px;
    cursor: pointer;
    font-size: 30px;

    background-color: white;
    color: black;
    padding: 20px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#back_shop {
    float: right;
    display: none;
    max-width: 200px;
    cursor: pointer;
    font-size: 30px;

    background-color: white;
    color: black;
    padding: 20px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#back_fight {
    float: left;
    display: none;
    max-width: 200px;
    cursor: pointer;
    font-size: 30px;

    background-color: white;
    color: black;
    padding: 20px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#chains_ally {
    display: none;
    position: absolute;
    left: 75%;
    top: 20%;
    padding: 25px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#chains_house {
    display: none;
    position: absolute;
    top: 500px;
    left: 1250px;
    width: 600Px;
    
}

#chains_fight {
    display: none;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 65%;
    left: 12%;
}

#killcount {
    display: none;
    position: absolute;
    top: 80px;
    left: 1782px;
    max-width: 200px;
    font-size: 30px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;

    background-color: white;
    color: black;
    padding: 20px;
}

#DMG_img {
    display: none;
    position: absolute;

    top: 50px;
    left: 20%;
    height:auto;
    max-width: 15%;
}

#HP_img {
    display: none;
    position: absolute;
    
    left: 45%;
    padding: 30px;
    height:auto;
    max-width: 5%;
}

#Cash_img {
    display: none;
    position: absolute;
    
    top: 25px;
    left: 60%;
    padding: 30px;
    height:auto;
    max-width: 5%;
}

#DMG_stat {
    display: none;
    position: absolute;

    background-color:white;
    
    top: 25px;
    left: 36%;
    padding: 10px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
    
}

#HP_stat {
    display: none;
    position: absolute;

    background-color:white;
    
    top: 25px;
    left: 52%;
    padding: 10px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#Cash_stat {
    display: none;
    position: absolute;

    background-color:white;
    
    top: 25px;
    left: 67.5%;
    padding: 10px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#funny {
    display: none;
    position:absolute;

    top: 80%;
    height:auto;
    max-width: 25%;
    
    

}

#funny_buy {
    display: none;
    position: absolute;
    left: 75%;
    top: 80%;
    padding: 25px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;

}

#boss_select {
    display: none;
    position: absolute;
    max-width: 200px;
    cursor: pointer;
    font-size: 30px;

    background-color: white;
    color: black;
    padding: 20px;

    top: 225px;
    left: 1782px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#dallas_boss {
    display: none;
    position: absolute;
    top: 500px;
    left: 350px;
}
#cloaker_fight {
    display: none;
    position: absolute;
    max-width: 200px;
    cursor: pointer;
    font-size: 30px;

    top: 10%;
    left: 70%;

    background-color: white;
    color: black;
    padding: 20px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#boss_select_back {
    float: left;
    display: none;
    max-width: 200px;
    cursor: pointer;
    font-size: 30px;

    background-color: white;
    color: black;
    padding: 20px;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}








#bangery {
    display: block;
    position: absolute;
    background-color: white;
    color: black;
     
    max-width: 125px;
    padding: 30px;
    font-weight: bolder;
    text-decoration: none;

    top: 65%;
    left: 17.30%;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#bangery_back {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
     
    top: 50%;
    left: 5%;

    max-width: 125px;
    padding: 30px;
    font-weight: bolder;
    text-decoration: none;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#tf2 {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
     
    max-width: 125px;
    padding: 30px;
    text-decoration: none;

    top: 35%;
    left: 17.30%;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#mineblock {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
     
    max-width: 125px;
    padding: 30px;
    text-decoration: none;

    top: 44%;
    left: 17.30%;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#fight {
    display: none;
    position: absolute;
    background-color: white;
    color: black;

    
     
    max-width: 125px;
    padding: 30px;
    text-decoration: none;

    top: 53%;
    left: 17.30%;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#cat {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
     
    max-width: 125px;
    padding: 30px;
    text-decoration: none;

    top: 62%;
    left: 17.30%;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#sazka {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
     
    max-width: 125px;
    padding: 30px;
    text-decoration: none;

    top: 71%;
    left: 17.30%; 

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

#cat:hover, #fight:hover, #mineblock:hover, #tf2:hover, #sazka:hover, #bangery_back:hover, #bangery:hover #start:hover {
    background-color: black;
    color: white;

    border-right: grey 3px solid;
    border-top: lightgrey 3px solid;
    border-left: lightgrey 3px solid;
    border-bottom: grey 3px solid;
}

